# dependencies
**/node_modules
.pnpm-store
.pnp
.pnp.js

# build outputs
.next
dist
build
out
.turbo
coverage

# env files
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# git
.git
.gitignore
.gitattributes
.github

# vercel
.vercel

# IDE
.vscode
.idea

# OS
.DS_Store
._*

# docker
docker-compose.yml

# misc
*.pem
