DATABASE_URL="postgres://USER:PASSWORD@pooled.db.prisma.io:5432/?sslmode=require"
ACCELERATE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=API_KEY"

CLIENT_URL="http://localhost:3000/"

JWT_SECRET=""
JWT_REFRESH_SECRET=""
JWT_REFRESH_TOKEN_HASH_SECRET=""

GEMINI_API_KEY=
GEMINI_MODEL=
